/*theme*/
#theme {
	width: 5vw;
	height: 5vh;
	cursor: pointer;
}

:root {
	--header-color: rgb(67, 66, 66);
	--body-color: rgb(39, 38, 38);
	--search-color: rgb(131, 11, 11);
	--text-color: white;
}

.light_theme {
	--header-color: #3d8498;
	--body-color: #effcff;
	--search-color: rgb(32, 93, 110);
	--text-color: black;
}

.titleName {
	color: var(--text-color);
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
	font-weight: bold;
}

.rounded-border {
	max-width: 80%;
	margin: auto;
	border: 2px solid var(--text-color);
	border-radius: 8px; /* Adjust the radius as needed */
	padding: 10px; /* Optional: Add padding to the container */
}

.section-title {
	margin-top: 10px;
}

/*/////// nav bar ///////*/

.navbar-nav img {
	width: 40px;
	display: inline-block;
	vertical-align: middle;
}

.navbar.navbar-expand-lg.bg-body-tertiary {
	padding: 0;
}

.container-fluid {
	background-color: var(--header-color);
	height: 8vh;
}

body {
	background-color: var(--body-color);
}

.navbar-nav .nav-link {
	color: white;
	font-size: 18px;
}

.navbar-brand {
	color: white;
	font-size: 18px;
}

.navbar-nav .nav-link.active {
	color: white;
	font-size: 18px;
}

.d-flex .btn.btn-outline-success {
	background-color: var(--search-color);
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 0;
}

.d-flex .form-control.me-2 {
	border-radius: 0;
}

.navbar-nav li {
	border-right: 2px solid #ccc;
	padding-right: 10px;
}

.navbar-nav li:last-child {
	border-right: none;
}

.navbar-color-field {
	background-color: var(--header-color);
}

.btn.btn-outline-light {
	background-color: var(--search-color);
	border: none;
	border-radius: 0;
}

/* /////////content container////////// */

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 95%;
	margin: auto;
}

.movie-cards-container {
	width: 100%;
	/* max-width: 1200px; Adjust as needed */
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.movie-title-container {
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.movie-cards {
	height: 55vh;
	min-width: 200px; /* Adjust as needed */
	flex-basis: calc(15vw - 2vw); /* Adjust as needed, considering padding */
	border-radius: 5px;
	border: 2px solid var(--text-color);
	margin: 1vh;
	padding: 1vw;
	display: grid;
	grid-template-rows: 60% 40%;
}

.movie-cards img {
	width: 100%;
	height: 100%;
	margin-bottom: 1vh; /* 1% of the viewport height */
	object-fit: cover;
	border-radius: 5px 0 0 5px;
	overflow: hidden;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	white-space: normal;
	padding-top: 1vh; /* 1% of the viewport height */
}

.card-content h6 {
	margin: 1px 1vw; /* Adjust as needed */
	font-size: 0.8vw;
	text-align: center;
	color: black;
	font-family: "DM Sans", sans-serif;
}

.streaming-div {
	display: flex;
	flex-direction: row;
}

.card-content button {
	margin-top: auto;
}

.content-container h1,
.genre-section h2,
.card-content h6,
.card-content h5,
.streaming-div h6 {
	color: var(--text-color);
}

.see {
	background-color: var(--search-color);
	color: white;
	border: none;
	border-radius: 0;
}
