body {
	margin: 0;
	padding: 0;
}

.main {
	margin-top: 15px;
}

.movie-box {
	width: 10vw;
	height: 20vh;
	background-color: grey;
}


:root {
	--header-color: rgb(67, 66, 66);
	--body-color: rgb(39, 38, 38);
	--search-color: rgb(131, 11, 11);
	--text-color: white;
}

.dark_theme {
	--header-color: #3d8498;
	--body-color: #effcff;
	--search-color: rgb(32, 93, 110);
	--text-color: black;
	--input-color: white;
}

.titleName {
	color: var(--text-color);
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
	font-weight: bold;
}

.rounded-border {
	max-width: 80%;
	margin: auto;
	border: 2px solid var(--text-color);
	border-radius: 8px; /* Adjust the radius as needed */
	padding: 10px; /* Optional: Add padding to the container */
}

.section-title {
	margin-top: 10px;
}

.dark_theme{
    --header-color: rgb(42, 39, 39) ;
    --body-color: rgb(50, 48, 48) ;
    --search-color:rgb(131, 11, 11) ;
    --text-color :white ;
    --input-color : rgb(42, 39, 39);  
}

/*css for nav bar*/

.btn.btn-outline-success {
	color: black;
}

.navbar-nav img {
	width: 40px;
	display: inline-block;
	vertical-align: middle;
}

.navbar.navbar-expand-lg.bg-body-tertiary {
	padding: 0;
}

#theme {
	width: 5vw;
	height: 5vh;
	cursor: pointer;
}

.navbar-color-field {
	background-color: var(--header-color);
}

body {
	background-color: var(--body-color);
}

.navbar-nav .nav-link {
	color: white;
	font-size: 18px;
}

.navbar-brand {
	color: white;
	font-size: 18px;
}

.navbar-nav .nav-link.active {
	color: white;
	font-size: 18px;
}

.d-flex .btn.btn-outline-success {
	background-color: var(--search-color);
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 0;
}

.d-flex .form-control.me-2 {
	border-radius: 0;
}

.streaming-logo {
	width: 20px;
	height: auto;
	margin-right: 5px;
}

.navbar-nav li {
	border-right: 2px solid #ccc;
	padding-right: 10px;
}

.navbar-nav li:last-child {
	border-right: none;
}

.btn.btn-outline-light {
	background-color: var(--search-color);
	border: none;
	border-radius: 0;
}
