<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Movie Match</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="cssfiles/test.css" />
		<link
			rel="stylesheet"
			href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
		/>
		<link rel="stylesheet" href="/css/recommendation.css" />
		<link rel="stylesheet" href="/css/font.css" />
		<link rel="icon" href="/images/logo_navbar.png" type="image/png" />
	</head>

	<body>
		<header class="p-3 navbar-color-field">
			<div class="container" bis_skin_checked="1">
				<div
					class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
					bis_skin_checked="1"
				>
					<a
						href="/"
						class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
					>
						<img
							src="/images/logo_navbar.png"
							alt="IMDb Logo"
							width="35"
							height="30"
						/>
					</a>

					<ul
						class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
					>
						<li>
							<a href="/recommendations" class="nav-link px-2 text-white"
								>Recommendations</a
							>
						</li>
						<li>
							<a href="/advanced-search" class="nav-link px-2 text-white"
								>Advanced-search</a
							>
						</li>
						<li>
							<a href="/genres" class="nav-link px-2 text-white">Genre</a>
						</li>
						<li>
							<a href="/streaming-service" class="nav-link px-2 text-white"
								>Streaming Service</a
							>
						</li>
					</ul>

					<form
						class="d-flex col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
						role="search"
					>
						<input
							id="searchInput"
							type="search"
							class="form-control me-2"
							placeholder="Search..."
							aria-label="Search"
						/>
						<button
							id="searchButton"
							type="submit"
							class="btn btn-outline-light"
						>
							Search
						</button>
					</form>

					<div class="text-end" bis_skin_checked="1">
						<img id="theme" src="/images/dark-light-icon.png" alt="" />
					</div>
				</div>
			</div>
		</header>
		<div class="py-4"></div>
		<div class="py-5 rounded-border">
			<div class="buttonDiv py4" id="advSearchButton">
				<button class="btn btn-primary btn-lg">Advanced Search</button>
			</div>

			<p class="info-paragraph">
				Use our advanced search filters to sort Movies by Genres, Streaming
				Platform, Language and the Content Ratings.
				<br />
				The results show the highest rated movies first. Happy Movie Hunting!
			</p>
			<div class="main">
				<div class="container-dd">
					<div class="select-btn">
						<span class="btn-text">Genre</span>
						<span class="arrow-dwn">
							<i class="fa-solid fa-chevron-down"></i>
						</span>
					</div>
					<ul class="list-items">
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">All</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Drama</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Action</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Romance</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Horror</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Sci-Fi</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Comedy</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Crime</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Thriller</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Adventure</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Fantasy</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Animation</span>
						</li>
						<li class="item">
							<span class="checkbox">
								<i class="fa-solid fa-check check-icon"></i>
							</span>
							<span class="item-text">Biography</span>
						</li>
					</ul>
				</div>

				<div class="container-dd">
					<div class="select-btn2">
						<span class="btn-text2">OTT</span>
						<span class="arrow-dwn2">
							<i class="fa-solid fa-chevron-down"></i>
						</span>
					</div>
					<ul class="list-items2">
						<!-- <li class="item2">
							<span class="checkbox2"> </span>
							<span class="item-text2">All</span>
						</li> -->
						<li class="item2">
							<span class="checkbox2"> </span>
							<span class="item-text2">Netflix</span>
						</li>
						<li class="item2">
							<span class="checkbox2"> </span>
							<span class="item-text2">Hotstar</span>
						</li>
						<li class="item2">
							<span class="checkbox2"> </span>
							<span class="item-text2">Amazon Prime Video</span>
						</li>
						<li class="item2">
							<span class="checkbox2"> </span>
							<span class="item-text2">Jio cinema</span>
						</li>
						<li class="item2">
							<span class="checkbox2"> </span>
							<span class="item-text2">Eros Now</span>
						</li>
						<li class="item2">
							<span class="checkbox2"> </span>
							<span class="item-text2">AMC Plus Apple TV Channel</span>
						</li>
					</ul>
				</div>
				<div class="container-dd">
					<div class="select-btn3">
						<span class="btn-text3">Language</span>
						<span class="arrow-dwn3">
							<i class="fa-solid fa-chevron-down"></i>
						</span>
					</div>
					<ul class="list-items3">
						<li class="item3">
							<span class="checkbox3"> </span>
							<span class="item-text3">All</span>
						</li>
						<li class="item3">
							<span class="checkbox3"> </span>
							<span class="item-text3">English</span>
						</li>
						<li class="item3">
							<span class="checkbox3"> </span>
							<span class="item-text3">Hindi</span>
						</li>
						<li class="item3">
							<span class="checkbox3"> </span>
							<span class="item-text3">Malayalam</span>
						</li>
						<li class="item3">
							<span class="checkbox3"> </span>
							<span class="item-text3">Tamil</span>
						</li>
						<li class="item3">
							<span class="checkbox3"> </span>
							<span class="item-text3">Telugu</span>
						</li>
						<li class="item3">
							<span class="checkbox3"> </span>
							<span class="item-text3">Bengali</span>
						</li>
						<li class="item3">
							<span class="checkbox3"> </span>
							<span class="item-text3">Korean</span>
						</li>
						<li class="item3">
							<span class="checkbox3"> </span>
							<span class="item-text3">Japanese</span>
						</li>
						<li class="item3">
							<span class="checkbox3"> </span>

							<span class="item-text3">French</span>
						</li>
					</ul>
				</div>
				<div class="container-dd">
					<div class="select-btn4">
						<span class="btn-text4">Ratings</span>
						<span class="arrow-dwn4">
							<i class="fa-solid fa-chevron-down"></i>
						</span>
					</div>
					<ul class="list-items4">
						<li class="item4">
							<span class="checkbox4"> </span>
							<span class="item-text4">All</span>
						</li>
						<li class="item4">
							<span class="checkbox4"> </span>
							<span class="item-text4">PG-13</span>
						</li>
						<li class="item4">
							<span class="checkbox4"> </span>
							<span class="item-text4">16</span>
						</li>
						<li class="item4">
							<span class="checkbox4"> </span>
							<span class="item-text4">18+</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<script>
			document.getElementById("theme").addEventListener("click", () => {
				document.body.classList.toggle("dark_theme");
			});
			(async function () {
				//for first drop down
				let selectBtn = document.querySelector(".select-btn"),
					items = document.querySelectorAll(".item");

				selectBtn.addEventListener("click", () => {
					selectBtn.classList.toggle("open");
				});

				items.forEach((item) => {
					item.addEventListener("click", () => {
						item.classList.toggle("checked");

						let checked = document.querySelectorAll(".checked"),
							btnText = document.querySelector(".btn-text");
						if (checked && checked.length > 0) {
							btnText.innerText = `${checked.length} Selected`;
						} else {
							btnText.innerText = "Select Language";
						}
					});
				});

				document
					.getElementById("searchButton")
					.addEventListener("click", async function () {
						const searchQuery = document.getElementById("searchInput").value;

						// If the search bar is empty, do nothing
						if (!searchQuery.trim()) {
							return;
						}

						try {
							const response = await fetch("/search", {
								method: "POST",
								headers: {
									"Content-Type": "application/json",
								},
								body: JSON.stringify({ query: searchQuery }),
							});

							const { searchId } = await response.json();

							window.location.href = `/results?searchId=${searchId}`;
						} catch (error) {
							console.error("Error:", error);
						}
					});

				//second
				let selectBtn2 = document.querySelector(".select-btn2"),
					items2 = document.querySelectorAll(".item2");

				selectBtn2.addEventListener("click", () => {
					selectBtn2.classList.toggle("open");
				});

				items2.forEach((item) => {
					item.addEventListener("click", () => {
						item.classList.toggle("checked2");

						let checked = document.querySelectorAll(".checked2"),
							btnText = document.querySelector(".btn-text2");
						if (checked && checked.length > 0) {
							btnText.innerText = `${checked.length} Selected`;
						} else {
							btnText.innerText = "Select Language";
						}
					});
				});

				//third
				let selectBtn3 = document.querySelector(".select-btn3"),
					items3 = document.querySelectorAll(".item3");

				selectBtn3.addEventListener("click", () => {
					selectBtn3.classList.toggle("open");
				});

				items3.forEach((item) => {
					item.addEventListener("click", () => {
						item.classList.toggle("checked3");

						let checked = document.querySelectorAll(".checked3"),
							btnText = document.querySelector(".btn-text3");
						if (checked && checked.length > 0) {
							btnText.innerText = `${checked.length} Selected`;
						} else {
							btnText.innerText = "Select Language";
						}
					});
				});

				//fourth
				let selectBtn4 = document.querySelector(".select-btn4"),
					items4 = document.querySelectorAll(".item4");

				selectBtn4.addEventListener("click", () => {
					selectBtn4.classList.toggle("open");
				});

				items4.forEach((item) => {
					item.addEventListener("click", () => {
						item.classList.toggle("checked4");

						let checked = document.querySelectorAll(".checked4"),
							btnText = document.querySelector(".btn-text4");
						if (checked && checked.length > 0) {
							btnText.innerText = `${checked.length} Selected`;
						} else {
							btnText.innerText = "Select Language";
						}
					});
				});

				const advSearchButton = document.getElementById("advSearchButton");
				advSearchButton.addEventListener("click", async () => {
					// Collect selected options from the dropdowns
					const selectedGenre = Array.from(
						document.querySelectorAll(".item.checked")
					).map((item) => item.textContent.trim());
					const selectedOTT = Array.from(
						document.querySelectorAll(".item2.checked2")
					).map((item) => item.textContent.trim());
					const selectedLanguage = Array.from(
						document.querySelectorAll(".item3.checked3")
					).map((item) => item.textContent.trim());
					const selectedRating = Array.from(
						document.querySelectorAll(".item4.checked4")
					).map((item) => item.textContent.trim());

					// Create a JSON object with the selected options
					const searchOptions = {
						genre: selectedGenre,
						ott: selectedOTT,
						language: selectedLanguage,
						rating: selectedRating,
					};

					// Log or use the searchOptions as needed
					console.log("Search Options:", searchOptions);

					try {
						const response = await fetch("/adv-search", {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify({ options: searchOptions }),
						});

						const { searchId } = await response.json();
						console.log("hi");
						console.log(searchId);
						window.location.href = `/results?searchId=${searchId}`;
					} catch (error) {
						console.error("Error:", error);
					}
				});
			})();
		</script>
	</body>
</html>
